URxvt.internalBorder: 0
URxvt.externalBorder: 0
URxvt.lineSpace: 0
URxvt.scrollBar: false
URxvt.borderLess: false

URxvt.url-launcher: /usr/bin/chromium
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: false
URxvt.perl-ext-common: default,clipboard

!http://font.gohu.org
URxvt*font: xft:Gohu GohuFont:pixelsize=14:antialias=false

URxvt*foreground: #CCCCCC
URxvt*background: #161616
URxvt.cursorColor: #CCCCCC

!black
*color0: #222222
*color8: #666666
!red
*color1: #E84F4F
*color9: #D23D3D
!green
*color2: #B7CE42
*color10: #BDE077
!yellow
*color3: #FEA63C
*color11: #FFE863
!blue
*color4: #66AABB
*color12: #AACCBB
!magenta
*color5: #B7416E
*color13: #E16A98
!cyan
*color6: #6D878D
*color14: #42717B
!white
*color7: #DDDDDD
*color15: #CCCCCC
