[include]
    path = ~/.gitconfig_private
[push]
    default = current
[core]
    trustctime = false
    editor = vim
    filemode = false
    autocrlf = input
[color]
    ui = true
[credential]
    helper = cache --timeout=3600
[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool]
    keeptemporaries = false
    keepbackup = false
    prompt = false
    trustexitcode = true
[alias]
    last = log -1 --stat
    br = branch
    cp = cherry-pick
    co = checkout
    cl = clone --recursive
    cm = commit
    dc = diff --cached
    df = diff
    dr = push origin --delete
    fc = clean -ffxd
    fe = fetch -p
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative --all
    pl = !git pull && git submodule update --init --recursive
    ps = push
    re = reset --hard HEAD
    sq = rebase -i master
    st = status
    su = submodule update --init --recursive
    un = reset HEAD~
[diff]
    tool = vimdiff
