* {
  font-family: terminus, monospace;
  font-size: 14px;
  min-height: 0;
  background: black;
  color: white;
}

.modules-right > widget > * {
    margin: 0 10px 0 0;
}

#tags button:hover {
  opacity: 1;
  background: inherit;
  box-shadow: none;
  transition: none;

  border-radius: 0;
  outline: none;
}

#tags button * {
  background: transparent;
}

#tags button {
    background: transparent;
    border-bottom: 3px solid transparent;
    color: #ffffff;
    padding: 0 5px;
    transition: none;
}

/* hack to hide empty tags at start */
#tags button:not(.occupied):not(.focused) {
	font-size: 0;
	min-width: 0;
	min-height: 0;
	margin: -17px;
	padding: 0;
	border: 0;
	opacity: 0;
	box-shadow: none;
	background-color: transparent;
}

#tags button.focused {
    background: #64727D;
    border-bottom: 3px solid #ffffff;
    border-radius: 0;
}

#tags button.urgent {
    background-color: #eb4d4b;
    border-radius: 0;
}

#wireplumber.muted {
  color: #FF0000;
}
